<h1>LIST OF STUDENTS</h1>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Sexo</th>
        <th scope="col">Estado</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>1718110411</td>
        <td>Maria Fernanda</td>
        <td>Reyes</td>
        <td>Lopez</td>
        <td>21</td>
        <td>1999-04-23</td>
        <td>Femenino</td>
        <td>Hidalgo</td>
        <td><button class="btn btn-danger">Delete</button></td>
        <td><button class="btn btn-warning">Update</button></td>
      </tr>
    </tbody>
  </table>